In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
df = pd.read_csv('/content/gdrive/MyDrive/Dataset/online.csv')
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [10]:
df.shape

(50, 5)

In [9]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [12]:
x=df.drop('Profit',axis=1)
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [14]:
y=df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [15]:
#One Hot Encoding
dummy_variables = pd.get_dummies(x['Area'],drop_first=True)
dummy_variables.head()

   Dhaka  Rangpur
0      1        0
1      0        0
2      0        1
3      1        0
4      0        1

In [17]:
new_df=x.drop('Area',axis=1)
new_df.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [18]:
x=pd.concat([new_df,dummy_variables],axis=1)
x.head()

   Marketing Spend  Administration  Transport  Dhaka  Rangpur
0        114523.61       136897.80  471784.10      1        0
1        162597.70       151377.59  443898.53      0        0
2        153441.51       101145.55  407934.54      0        1
3        144372.41       118671.85  383199.62      1        0
4        142107.34        91391.77  366168.42      0        1

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
reg = LinearRegression()

In [21]:
reg.fit(x,y)

LinearRegression()

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state =0)

In [30]:
xtest

    Marketing Spend  Administration  Transport  Dhaka  Rangpur
28         66051.52       182645.56  118148.20      0        1
11        100671.96        91790.61  249744.55      0        0
10        101913.08       110594.11  229160.95      0        1
41         27892.92        84710.77  164470.71      0        1
2         153441.51       101145.55  407934.54      0        1
27         72107.60       127864.55  353183.81      1        0
38         20229.59        65947.93  185265.10      1        0
31         61136.38       152701.92   88218.23      1        0
22         73994.56       122782.75  303319.26      0        1
4         142107.34        91391.77  366168.42      0        1
33         55493.95       103057.49  214634.81      0        1
35         46014.02        85047.44  205517.64      1        0
26         75328.87       144135.98  134050.07      0        1

In [31]:
ytest

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
33     96778.92
35     96479.51
26    105733.54
Name: Profit, dtype: float64

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
regressor=LinearRegression()

In [27]:
regressor.fit(xtrain,ytrain)

LinearRegression()

In [28]:
predict = regressor.predict(xtest)

In [34]:
predict

array([103501.0825284 , 128011.28068627, 126695.43891127,  70573.91718775,
       173381.96874259, 124238.07860872,  69298.09250304,  98399.41936876,
       116419.1480864 , 161430.98134847,  94740.73303076,  89920.22800514,
       105956.86065332])

In [42]:
regressor.score(xtest,ytest)

0.884097862392347

# **R-Squared Value**

In [35]:
from sklearn.metrics import r2_score

In [37]:
score=r2_score(ytest,predict)

In [38]:
score

0.884097862392347